/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#eff1f5 0%, #dce0e8 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
}

  /* Command palette text input */
  .quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 8px !important;
    border: none !important;
    background-color: rgb(204, 208, 218) !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
  }

  #command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
  }

  /* Command palette's input box placeholder. */
  .monaco-inputbox input::placeholder {
    color: rgb(140, 143, 161)
  }


  .command-center-center {
      width:  auto !important;
  }

  /* List hover */
.monaco-list-row:hover {
    background: rgba(0, 0, 0, .2) !important;
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* Search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.decorationsOverviewRuler {
    display: none !important;
}
